.header1{
	background-color: #96858F;
	color: white;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li{
	padding-bottom: 5px;
}
div a{
	margin-left: 300px;
}
.button1{
	margin-left: 250px;
	margin-bottom: 20px;	
}